{% load cms_tags menu_tags sekizai_tags staticfiles thumbnail %}


<section class="card-hero-with-content-plugin"
         data-spacing="{{ instance.spacing.value }}"
         data-vertical-alignment="{{ instance.vertical_alignment.value }}"
>
    <div class="row justify-content-between">
        {% for plugin in instance.child_plugin_instances %}
            {% if plugin.plugin_type == 'CardHeroWrapperPlugin' %}
                <div class="hero-wrapper-plugin {{ instance.get_hero_col_classes }}">
                    {% render_plugin plugin %}
                </div>
            {% elif plugin.plugin_type == 'CardContentWrapperPlugin' %}
                <div class="content-wrapper-plugin {{ instance.get_content_col_classes }}">
                    {% render_plugin plugin %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
