@import 'global/scss/bootstrap-variables';


.card-hero-with-content-plugin {
    $breaking-point: 'lg';
    
    margin-top: $grid-gutter-width;
    margin-bottom: $grid-gutter-width;

    &[data-spacing='normal'] {
        margin-top: $grid-gutter-width * 2.5;
        margin-bottom: $grid-gutter-width * 2.5;
    }
    &[data-spacing='large'] {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .hero-wrapper-plugin {
        display: flex;
        @include media-breakpoint-down($breaking-point) {
            order: 25;
            justify-content: center;
        }
    }
    
    .content-wrapper-plugin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
            
        @include reset-first-heading-top-spacing;
        
        @include media-breakpoint-down($breaking-point) {
            order: -1;
            margin-bottom: $grid-gutter-width;
            *:last-child {
                margin-bottom: 0;
            }
        }
    }
    
    .content-wrapper-plugin, .content-wrapper-plugin {
        &[data-vertical-alignment='top'] {
            justify-content: start;
        }
        &[data-vertical-alignment='middle'] {
            justify-content: center;
        }
        &[data-vertical-alignment='bottom'] {
            justify-content: end;
        }
    }
}
