/*
This file is a replacement for default ckeditor contents.css
 */

@import 'global/scss/bootstrap-variables';

body.background-black {
    background: black !important;
}
body.background-gray {
    background: gray !important;
}
body.background-white {
    background: white !important;
}



body.cke_editable {
    background-color: #fff;
    margin: 20px;
    font-size: $font-size-base;
    color: $body-color;
    /* Fix for missing scrollbars with RTL texts. (ckeditor#10488) */
    word-wrap: break-word;
    
    .marker {
        background-color: Yellow;
    }

    span[lang] {
        font-style: italic;
    }

    .code-featured {
        border: 5px solid red;
    }
    
    .math-featured {
        padding: 20px;
        box-shadow: 0 0 2px rgba(200, 0, 0, 1);
        background-color: rgba(255, 0, 0, 0.05);
        margin: 10px;
    }
    
    .image-clean {
        border: 0;
        background: none;
        padding: 0;
    }
    
    .image-clean > figcaption {
        font-size: .9em;
        text-align: right;
    }
    
    .image-grayscale {
        background-color: white;
        color: #666;
    }
    
    .image-grayscale img, img.image-grayscale {
        filter: grayscale(100%);
    }
    
    .embed-240p {
        max-width: 426px;
        max-height: 240px;
        margin: 0 auto;
    }
    
    .embed-360p {
        max-width: 640px;
        max-height: 360px;
        margin: 0 auto;
    }
    
    .embed-480p {
        max-width: 854px;
        max-height: 480px;
        margin: 0 auto;
    }
    
    .embed-720p {
        max-width: 1280px;
        max-height: 720px;
        margin: 0 auto;
    }
    
    .embed-1080p {
        max-width: 1920px;
        max-height: 1080px;
        margin: 0 auto;
    }
}

.cke_contents_ltr blockquote {
    padding-left: 20px;
    padding-right: 8px;
    border-left-width: 5px;
}

.cke_contents_rtl blockquote {
    padding-left: 8px;
    padding-right: 20px;
    border-right-width: 5px;
}

.cke_panel_listItem {
    font-size: 12px !important;
}
.cke_panel_block {
    h1.cke_panel_grouptitle {
        padding-top: 6px;
        &:after {
            content: none;
        }
    }
    @include reset-first-heading-top-spacing;
}

.cke_menu_panel {
    overflow-x: hidden !important;
}

.cke_show_blocks {
    padding-top: initial;
}
html[dir=ltr] {
    background: initial;
}
