.light-gallery-plugin {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    a {
        display: flex;
        cursor: zoom-in;
        margin-bottom: 18px;
    }
}


.cms-toolbar-expanded {
    .lg-outer .lg-thumb-outer {
        bottom: 46px;
    }
}
