@import 'global/scss/bootstrap-variables';


.mailchimp-plugin {
    display: flex;
    
    &[data-is-enable-border=false] {
        .form-group .form-control {
            border: none;
        }
    }

    .form-group {
        display: flex;
        
        .form-control {

            &:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 1000px white inset !important;
            }
        }
    }
    .response {
        display: flex;
        margin-bottom: 1rem;
        
        &.response-error {
            color: $danger;
        }
        &.response-success {
            color: $success;
        }
    }
}
