@import 'global/scss/bootstrap-variables';

body.navbar-fixed {
    margin-top: $navbar-fixed-height;
}
.navbar {
    border-bottom: 1px solid #ececec;
    padding: 0;

    .container {
        @include media-breakpoint-up(lg) {
            padding: 1.4rem 1rem;
        }
        @include media-breakpoint-down(lg) {
            padding: 0.5rem 1rem;
        }
    }

    .navbar-brand {
        align-items: center;
        font-size: 30px;
        transition: color 0.2s;

        svg {
            height: 50px;
            margin-right: $grid-gutter-width/2;
            fill: $color-primary;
            transition: color 0.2s;
        }
        &:hover {
            svg {
                fill: $color-accent;
            }
        }
        .site-title {
            display: flex;
            flex-direction: column;
            
            .site-name {
                font-size: 1.6rem;
            }
            .site-subname {
                font-size: 1rem;
            }
        }

    }
    .nav-item.dropdown {
        &:hover > .dropdown-menu {
            display: block;
            margin-top: 0;
        }
    }
    .navbar-collapse {
        .navbar-nav {
            margin-top: 0;
            .dropdown-toggle {
                &::after {
                    vertical-align: middle;
                }
                &:active {
                    pointer-events: none;
                }
            }
        }
        @include media-breakpoint-up(lg) {
            justify-content: flex-end;
            
            .nav-link {
                margin-left: 20px;
                color: $gray-600;
            }
        }
    }
    .lang-switcher {
        width: fit-content;

        .lang-menu {
            min-width: 100%;
        
            .lang-item {
                display: flex;
                justify-content: center;
                padding: 0.4rem 1.5rem;
            }
        }
    }

    &.fixed-top {
        background: white;
        $padding: $grid-gutter-width / 2;
        padding: $padding/2 $padding;
        box-shadow: rgba(2, 8, 20, 0.06) 0 1px 3px, rgba(2, 8, 20, 0.04) 0 1px 2px;

        .container-fluid {
            padding: 0;
            $font-size: 0.9rem;
            font-size: $font-size;
    
            .navbar-brand {
                font-size: 1rem;
                padding: 0;
    
                svg {
                    height: 25px;
                    margin-right: 0.5rem;
                }
                .site-title {
                    .site-name {
                        font-size: initial;
                    }
                }
            }
            .search-form {
                width: 250px;
                input {
                    font-size: $font-size;
                }
            }
            .navbar-toggler[aria-expanded=true] ~ .navbar-collapse {
                .menu-column {
                    .menu-container {
                        position: fixed;
                        margin-left: -15px;
                        overflow-y: scroll;
                        background: white;
                        .metismenu {
                            width: 100%;
                            position: absolute;
                        }
                    }
                }
            }
            .navbar-toggler[aria-expanded=false] ~ .navbar-collapse {
                display: none;
            }
        }
    }
    .navbar-toggler[aria-expanded=true] ~ .navbar-collapse {
        .menu-column {
            .menu-container {
                position: fixed;
                width: 100%;
                height: 100%;
                padding: 0;
                margin-left: -15px;
                overflow-y: scroll;
                background: white;
                .metismenu {
                    width: 100%;
                    position: absolute;
                    background: white;
                }
            }
        }
    }
    .navbar-toggler[aria-expanded=false] ~ .navbar-collapse {
        display: none;
    }
}

.vue-search-component-container {
    display: flex;
    align-items: center;
    margin-left: 23px;
    
    .search-component {
        $z-index: 100;
        $padding: 20px;
        
        .ais-InstantSearch {
            z-index: $z-index;
            position: relative;
        }
        .ais-SearchBox {
            
            .ais-SearchBox-input {
                display: flex;
                width: 250px;
                font-size: 0.9rem;
                height: $input-height;
                padding: $input-padding-y $input-padding-x;
                border: $input-border-width solid $input-border-color;
                background-color: $input-bg;
                color: $input-color;
                @include border-radius($input-border-radius, 0);
                @include form-control-focus($ignore-warning: true);
                @include box-shadow($input-box-shadow);
                @include transition($input-transition);
                
                &::placeholder {
                    color: $input-placeholder-color;
                    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
                    opacity: 1;
                }
            }
            .ais-SearchBox-submit, .ais-SearchBox-reset {
                display: none;
            }
        }
        .search-popup {
            position: absolute;
            right: 0;
            top: 45px;
            width: 500px;
            max-height: 80vh;
            overflow-y: scroll;
            overflow-wrap: break-word;
            padding: $padding 25px;
            z-index: $z-index;
            background: white;
            box-shadow: 0 7px 16px #00000036;
            
            .ais-Hits-list {
                padding-left: 0;
                list-style: none;
                .ais-Hits-item {
                    &:not(:first-of-type) {
                        margin-top: 13px;
                    }
                    .search-hit-link {
                        display: block;
                        font-size: 1rem;
                    }
                    .ais-Snippet-highlighted {
                        padding: 0 !important;
                    }
                    .ais-Highlight-highlighted {
                        padding: 0 !important;
                    }
                }
            }
            .asi-Pagination-container {
                display: flex;
                flex-direction: row;
                margin-top: $padding;
                .ais-Pagination-item, .asi-Pagination-item-edge {
                    display: flex;
                    padding: 0 8px;
                }
            }
        }
        .search-popup-background {
            z-index: $z-index - 10;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }
    }
}
