.person-list-plugin {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    
    .person-list-title {
        text-align: center;
        margin-bottom: 25px;
        
    }
    .person-children {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
        .person-plugin {
            text-align: center;
            max-width: 200px;
            margin: 0 25px;
            margin-top: 10px;
            margin-bottom: 30px;
            
            .person-photo {
                border-radius: 50% !important;
            }
            
            .person-name {
                font-size: 17px;
                margin-bottom: 10px;
                margin-top: 20px;
                font-weight: bold;
            }
        }
    }
}
