@import 'global/scss/bootstrap-variables';


.reference-tooltip-plugin {
    
    .reference-tooltip__container {
        font-size: 0.7rem;
        vertical-align: super;
        color: $color-primary;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        .popover-body {
            padding: 1rem;
            max-height: 50vh;
            overflow-y: scroll;
            font-size: 0.75rem;

            *:last-child {
                margin-bottom: 0;
            }
            &:hover {
                cursor: initial;
            }
            blockquote {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
            }
        }
    }
}
