{% load cms_tags menu_tags sekizai_tags staticfiles thumbnail %}


<section class="card-list-plugin">
    <div class="card-row row">
        {% for plugin in instance.child_plugin_instances %}
            <div class="card-col {{ instance.get_css_col_classes }}">
                {% render_plugin plugin %}
            </div>
        {% endfor %}
    </div>
</section>
