{% load cms_tags menu_tags sekizai_tags staticfiles %}


<div class="mailchimp-plugin"
     id="mc_embed_signup"
     data-is-enable-border="{{ instance.is_enable_border|lower }}"
     {{ instance.get_html_style_attr }}
>
    <form action="https://localhost.{{ instance.server_location_code }}.list-manage.com/subscribe/post?u={{ instance.organization_id }}&amp;id={{ instance.list_id }}"
          method="post" id="mc-embedded-subscribe-form"
          name="mc-embedded-subscribe-form" class="validate" target="_blank"
          novalidate
          {{ instance.get_html_style_attr }}
    >
        <div class="form-group" id="mc_embed_signup_scroll">
            <input type="email" value="" name="EMAIL"
                   class="form-control"
                   id="mce-EMAIL"
                   placeholder="Email"
                   {{ instance.get_html_style_attr }}
            >
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text"
                       name="b_{{ instance.organization_id }}_{{ instance.list_id }}"
                       tabindex="-1" value=""
                ></div>
            <input type="submit" value="Subscribe"
                   name="subscribe"
                   id="mc-embedded-subscribe" class="mailchimp-btn btn btn-primary"
                   style="font-size: {{ instance.font_size }}rem;"
            >
        </div>
        <div class="mailchimp-response" id="mce-responses" {{ instance.get_html_style_attr }}>
            <div class="response response-error" id="mce-error-response"
                 style="display:none"
            ></div>
            <div class="response response-success" id="mce-success-response"
                 style="display:none"
            ></div>
        </div>
    </form>
    <script type='text/javascript'
            src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'
    ></script>
    <script type='text/javascript'>(function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[2] = 'LNAME';
        ftypes[2] = 'text';
        fnames[3] = 'ADDRESS';
        ftypes[3] = 'address';
        fnames[4] = 'PHONE';
        ftypes[4] = 'phone';
        fnames[5] = 'BIRTHDAY';
        ftypes[5] = 'birthday';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);</script>
</div>
