@import 'bootstrap-variables';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');

body {
  font-family: 'Roboto', sans-serif !important;
}

p, ul, ol {
    line-height: 1.7;
}

blockquote {
    border-left: 3px solid $gray-300 !important;
    color: $gray-600;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    *:last-child {
        margin-bottom: 0;
    }
}


h1, .heading-plugin--h1, h2, .heading-plugin--h2, h3, h4, h5, h6 {
    color: $header-color;
    font-weight: 500;
    margin-bottom: 1rem;
    line-height: 1.2;
}
h1, .heading-plugin--h1 {
    display: block;
    margin-bottom: 1.5rem;

    &:after {
        content: '';
        display: block;
        width: 100px;
        margin-top: 1rem;
        border-bottom: 3px solid $color-primary;
    }
}

.main-column * {
    z-index: 1;
}

@mixin header-style($tag, $font-size, $margin-top) {
    $margin-bottom-global: 1rem;
    
    $offset: rem(5px);
    #{$tag}, .heading-plugin--#{$tag} {
        margin-top: -$offset;
        padding-top: $offset + $margin-top - $margin-bottom-global;
        font-size: $font-size;
        z-index: 0 !important;
    }
    #{$tag}:first-child, .heading-plugin--#{$tag}:first-child {
        padding-top: $offset + $margin-top;
    }
    .navbar-fixed {
        #{$tag}, .heading-plugin--#{$tag} {
            $offset: rem($navbar-fixed-height);
            margin-top: -$offset;
            padding-top: $offset + $margin-top - $margin-bottom-global;
        }
    }
    .cms-toolbar-expanded > .navbar-fixed {
        #{$tag}, .heading-plugin--#{$tag} {
            $offset: rem($cms-toolbar-height + $navbar-fixed-height);
            margin-top: -$offset;
            padding-top: $offset + $margin-top - $margin-bottom-global;
        }
    }
}

@include header-style($tag: h1, $font-size: 2.20rem, $margin-top: 3.0rem);
@include header-style($tag: h2, $font-size: 1.65rem, $margin-top: 2.5rem);
@include header-style($tag: h3, $font-size: 1.35rem, $margin-top: 2.0rem);
@include header-style($tag: h4, $font-size: 1.15rem, $margin-top: 1.8rem);
@include header-style($tag: h5, $font-size: 1.15rem, $margin-top: 1.1rem);
@include header-style($tag: h6, $font-size: 1.15rem, $margin-top: 1.1rem);
